{% load static tailwind_cli %}
<!doctype html>
<html lang="en" class="h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}meetup-cfp{% endblock %}</title>
  {% tailwind_css %}
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script src="{% static 'js/alpine.min.js' %}" defer></script>
</head>
<body class="flex min-h-full flex-col bg-gray-50 text-gray-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% include "partials/_navbar.html" %}
  {% block content %}{% endblock %}
</body>
</html>